numpy==1.6.1
http://iimcb.genesilico.pl/moderna/static/moderna_source_1.7.1.tar.gz
biopython==1.58
cogent==1.5.1
ipython==0.12
wsgiref==0.1.2
BeautifulSoup==3.2.0
PIL==1.1.7
scipy==0.10.0
simplejson==2.6.1

