*~
*pyc
bucket*
*.pyc
.ropeproject
.Rhistory
*#*
moderna.log
*flymake.py
*.out
diffpdb_conf.py
*DS_Store
*docs/build/*
*_off*
bin
*outCR
rpt_config_local.py
.ipynb_checkpoints
*log
*.ps
*dssr*
*log*
*config_local.py*
opt*
.idea
ipynb
.coverage
coverage.xml
*bak
*sandbox*
*,cover
*htmlcov/
build/*
dist/*
.settings
.project
.pydevproject
lastfailed
