{% extends "base.html" %}
{% block content %}
<!-- <strong>Magnus Marcin</strong></a>, <strong>Michał Boniecki</strong>, -->

<h3>About</h3>
<p>
    <b>rna-tools.online – a Swiss army knife for RNA 3D modeling workflows</a></b><br>
<a href="mailto:m.magnus@imol.edu.pl">Marcin Magnus</a></br>
Nucleic Acids Research <a href="https://doi.org/10.1093/nar/gkac372">https://doi.org/10.1093/nar/gkac372</a></br>
Published: 17 May 2022

</br></br>
<div class="text-left">

  <strong><a href="https://www.imol.institute">International Institute of Molecular Mechanisms and Machines</a></strong></br>
  Polish Academy of Sciences<br>
  02-109 Warsaw<br>
  Poland<br>
</div>

</br>
</br>

    <p class="c21 c30">
        <span class="c14">Please report any issues via the Github Issue tracker: </span>
        <span class="c49 c14">
            <a class="c15" href="https://github.com/mmagnus/rna-tools/issues">https://github.com/mmagnus/rna-tools/issues</a>
        </span>
        <span class="c4 c7">&nbsp;</span>
    </p>
    <p class="c30 c21">
        <span class="c14">Follow us, ask a question on Twitter </span>
        <span class="c49 c14">
            <a class="c15" href="https://twitter.com/rna_tools">https://twitter.com/rna_tools</a>
        </span>
    </p>
    <p class="c28 c26 c6">
        <span class="c4 c7"></span>
    </p>
    <p class="c1 c6">
        <span class="c4 c7"></span>
    </p>


{% endblock %}
