{% extends "base.html" %}
{% block content %}
<title>RNAMasonry</title>



<h3>How to cite</h3>
<p>

<i>RNA fragment assembly with experimental restraints</i>
</br>
Grzegorz Chojnowski, Rafał Zaborowski, Marcin Magnus, and Janusz M. Bujnicki<br />
    submitted
</p>

<h3>Third party methods</h3>

RNAMasonry depends on a number of third-party tools. We are very grateful to their authors for making the software freely available. Please consider citing relevant publications from the list below.</br>
</br>

<b>Scoring function</b></br> 

<p>
  <i>SimRNA: a coarse-grained method for RNA folding simulations and 3D structure prediction</i><br />
  Boniecki MJ, Lach G, Dawson WK, Tomala K, Lukasz P, Soltysinski T, Rother KM, Bujnicki JM
  NAR 2015, [<a href="http://nar.oxfordjournals.org/content/early/2015/12/19/nar.gkv1479.long" target="_blank">doi: 10.1093/nar/gkv1479</a>]<br />
</p>

<b>RNA model editing</b></br>

<p>
<i>ModeRNA: a tool for comparative modeling of RNA 3D structure.</i></br>
Rother M, Rother K, Puton T, Bujnicki JM. Bioinformatics 2011, [<a href="https://doi.org/10.1093/bioinformatics/btr400" target="_blank">doi: 10.1093/bioinformatics/btr400</a>]
</p>

<b>2D structure assignment</b></br> 

<p>
<i>ClaRNA: a classifier of contacts in RNA 3D structures based on a comparative analysis of various classification schemes</i>
Tomasz Waleń, Grzegorz Chojnowski, Przemysław Gierski, Janusz M. Bujnicki NAR 2014, [<a href="https://doi.org/10.1093/nar/gku765" target="_blank">doi: 10.1093/nar/gku765</a>]
</p>

<b>SAXS restraints</b></br>

<p>
  <i>FoXS, FoXSDock and MultiFoXS: Single-state and multi-state structural modeling of proteins and their complexes based on SAXS profiles</i> Schneidman-Duhovny D, Hammel M, Tainer JA, and Sali A.  NAR 2016, [<a href="https://doi.org/10.1093/nar/gkw389" target="_blank">doi: 10.1093/nar/gkw389</a>]<br />
</p>

<p>
<i>CRYSOL – a Program to Evaluate X-ray Solution Scattering of Biological Macromolecules from Atomic Coordinates</i>
Svergun D.I., Barberato C. and Koch M.H.J. J. Appl. Cryst. 1995, 28, 768-773. [<a href="https://doi.org/10.1107/S0021889895007047" target="_blank">doi: 10.1107/S0021889895007047</a>]
</p>




<hr>

<div class="text-center">
    <strong>International Institute of Molecular and Cell Biology</strong></br>
Laboratory of Bioinformatics and Protein Engineering</br>
Trojdena 4, 02-109 Warsaw, POLAND</br>
tel: +48-22 597 0750</br>
fax: +48 22 597 0715</br>
</p>

<div class="text-center">
  <a href="http://www.iimcb.gov.pl/"><img style="width:150px" src="{{ STATIC_URL }}app/img/IIMCB.png"></a>
</div>
<hr>
<div class="text-center">
  <a href="http://genesilico.pl/"><img style="" src="{{ STATIC_URL }}app/img/banner.png" alt="Laboratory of Bioinformatics and Protein Engineering"></a>
</div>





{% endblock %}
