{% extends "base.html" %}
{% block content %}
<title>{{ j.job_id }}</title>

<style>
 .hint {color:#808080;font-size:12px;}

.dz {
    border: dashed !important;
    background-color: white !important;
    border-radius: 10px !important;
}

.dz:hover {
    background-color: aliceblue !important;
}
</style>

<script>
$(document).ready(function() {
    $("#explain").hide();
});
</script>
<script>
$("#explainX").click(function() {
    $("#explain").slideToggle();
});
</script>

<script>

    $(document).ready(function() {
	$('#mytable').DataTable(
	{
        "order": [[ 1, "asc" ]]
	}
	)
    });
  
    var progress_interval;
    $(document).ready( function(){
        progress_interval = setInterval(checkProgress, 1000);
    });

    function checkProgress() {
        $.ajax({
            url: "{% url 'ajax_job_status' job_id=j.job_id tool='calc-rmsd' %}",
            success: function(d) {
		if ($('#log_txt').html().length != d['log'].length ) {
                    $("#log_txt").html(d['log']);}
                if (d['reload']==true){
		    location.href="/tools/{{ tool }}/{{ j.job_id }}";
                }
            }
    })
    };

  function demo(){
        $("#target-selection").val('A:1-17')
      $("#model-selection").val('A:1-17')
      $("#target").val('21_solution_2_rpr.pdb')
        $.ajax({
            url: "/demo/{{ tool }}/{{ j.job_id }}",
	})
    };

  function rm(){
        $.ajax({
            url: "/run/clear/{{ j.job_id }}",
	})
    };

    function fetch() {
        $.ajax({
            url: "/fetch/{{ j.job_id }}",
	    data: { 
		    fetch: $("#fetch").val(),
		  },
        }
	      )
             };

    function topdb() {
        $.ajax({
            url: "/run/topdb/{{ j.job_id }}",
        });}

  function go() {
        $('#go').prop('disabled', true);
        $.ajax({
            url: "/run/calc-rmsd/{{ j.job_id }}",
	    data: { allvsall: $('#allvsall').is(':checked'),
		    target: $("#target").val(),
		    targetselection: $("#target-selection").val(),
		    modelselection: $("#model-selection").val(),

		    targetignoreselection: $("#target-ignore-selection").val(),
		    modelignoreselection: $("#model-ignore-selection").val()	
		  },

            success: function(d) {
                $("#log_txt").html(d['log']);
                if (d['reload']==true){
                    window.location.reload()
                }
            }
        })
    };

</script>
    
{% if j.get_status == 'finished' %}
<script src="{{ STATIC_URL }}app/jsmol/JSmol.min.js"></script>
<script>
 var jmolApplet0; // set up in HTML table, below
 // logic is set by indicating order of USE -- default is HTML5 for this test page, though
 var use = "HTML5" // JAVA HTML5 WEBGL IMAGE  are all otions

 jmol_isReady = function(applet) {
     Jmol._getElement(applet, "appletdiv").style.border="" //1px solid black
 }		

 script = 'h2oOn=true;'
	 +'set errorCallback "myCallback";'
	 +'set defaultloadscript "isDssp = false;set defaultVDW babel;if(!h2oOn){display !water}";'
	 +'set zoomlarge true;set echo top left;refresh;'
	 +'spacefill off;spin off;wireframe off;cartoons on;'

 var Info = {
     spinRateX: 0.2,
     spinRateY: 0.5,
     spinFPS: 20,
     spin:true,

     width: 350,
     height: 400,
     debug: false,
     color: "white",
     addSelectionOptions: false,
     serverURL: "http://chemapps.stolaf.edu/jmol/jsmol/php/jsmol.php",
     use: "HTML5",
     j2sPath: "{{ STATIC_URL }}app/jsmol/j2s",
     reagdyFunction: jmol_isReady,
     script: script,
     disableJ2SLoadMonitor: true,
     disableInitialConsole: true
 }
</script>
<script>
 var jmolApplet1; // set up in HTML table, below
 // logic is set by indicating order of USE -- default is HTML5 for this test page, though
 var use = "HTML5" // JAVA HTML5 WEBGL IMAGE  are all otions

 jmol_isReady = function(applet) {
     Jmol._getElement(applet, "appletdiv").style.border="" //1px solid black
 }		

 script = 'h2oOn=true;'
	 +'set errorCallback "myCallback";'
	 +'set defaultloadscript "isDssp = false;set defaultVDW babel;if(!h2oOn){display !water}";'
	 +'set zoomlarge true;set echo top left;refresh;'
	 +'spacefill off;spin off;wireframe off;cartoons on;'

 var Info = {
     spinRateX: 0.2,
     spinRateY: 0.5,
     spinFPS: 20,
     spin:true,

     width: 350,
     height: 400,
     debug: false,
     color: "white",
     addSelectionOptions: false,
     serverURL: "http://chemapps.stolaf.edu/jmol/jsmol/php/jsmol.php",
     use: "HTML5",
     j2sPath: "{{ STATIC_URL }}app/jsmol/j2s",
     reagdyFunction: jmol_isReady,
     script: script,
     disableJ2SLoadMonitor: true,
     disableInitialConsole: true
 }
</script>

{% endif %}

<h2>Calculate RMSD</h2>

<span class="hint">RMSD is the measure of the average distance between the atoms of superimposed RNAs.</span>

<div align="right">
  <button onclick="demo()" class="btn btn-small btn-ok">Load demo</button>
  <button onclick="rm()" class="btn btn-small btn-ok">Remove All Files</button>
  <button onclick="javascript:location.reload();" class="btn btn-small btn-ok">Clear</button>  
</div>


<p>
 <button onclick="fetch()" class="btn btn-small" size="height:12px">Fetch</button> files from another job <input id="fetch" type="text" class="form-control" style="font-family:Monospace;width:150px;height:13px;" name="xxx" placeholder="" value=""></a><small class="hint"> e.g., 614e0a1b</small>
    <!--http://rna-tools.online/tools/seq/614e0a1b or-->
</p>

<label for="comment">RNA structure (in the PDB format)[first file dropped will be the target file, if not set by "target" below] <span style="color:red"></br>Please, remove all spaces and non-standard characters in filenames, we're working on a fix to do it automatically for you</span></label>

<form enctype='multipart/form-data' action="/upload/{{ j.job_id }}" method='POST' class="dropzone dz" id="my-dropzone" >
  {% csrf_token %}
  <input type="hidden" id="job_id" name="job_id" value="{{ j.job_id }}" />
    <div class="fallback">
      <input name="file" type="file" multiple />
    </div>
</form>

<div class="form-group" style="width: 100%;">

<!--
<label class="checkbox" type="checkbox">
all-vs-all <input type="checkbox" id="allvsall"> 
</label>-->

<div class="form-group" style="width: 100%;">
<p>
  <span style="padding-right:10px">target:</span> <input type="text" class="form-control" style="font-family:Monospace;height:10px;" id="target" name="xxx" placeholder="" value=""> </a><small class="hint"> filename of file to be used as the reference, if empty the first file dropped will be used</small>
</br>
target selection: <input type="text" class="form-control" style="font-family:Monospace;;height:10px;" id="target-selection" name="xxx" placeholder="" value=""> </a><small class="hint"> e.g., A:1-17+24-110+115-168</small>
</br>
  model selection: <input type="text" class="form-control" style="font-family:Monospace;height:10px;" id="model-selection" name="xxx" placeholder="" value=""> <small class="hint"> e.g., A:1-17+24-110+115-168</small>
</br>
target ignore selection: <input type="text" class="form-control" style="font-family:Monospace;height:10px;" id="target-ignore-selection" name="xxx" placeholder="" value=""><small class="hint"> e.g., A/57/O2\'</small>
</br>
model ignore selection: <input type="text" class="form-control" style="font-family:Monospace;height:10px;" id="model-ignore-selection" name="xxx" placeholder="" value=""> <small class="hint">e.g., A/57/O2\'</small>
</p>



{%if j.get_status == 'finished' %}
{%if rows %}
    <center>
    <table id="mytable" class="display" width="100%">
      <thead>
	 {% for h in headers %}
	 <th>{{ h }}</th>
	 {% endfor %}
      </thead>
      <tbody>
	{% for row in rows %}	  
        <tr>
 	  {% for i in row %}
	  <td>
	    {{ i }}
	  </td>
	  {% endfor %}
	</tr>
	{% endfor %}
      </tbody>
    </table>
    </center>
    {% endif %}

<p>
<center>
<table>
  <td>
{%if target %}
  <script type="text/javascript">
    Info.script=`load {{ MEDIA_URL }}jobs/{{ j.job_id }}/{{ target }}; color [x00b159]; cartoons only; `
  jmolApplet0 = Jmol.getApplet("jmolApplet0", Info)
  </script>
  Target: {{ target }} [green]
{% endif %}
  </td>
  <td>
{%if topmodel %}
<script type="text/javascript">
    Info.script=`load {{ MEDIA_URL }}jobs/{{ j.job_id }}/{{ topmodel }}; color [xd11141]; cartoons only;`
  jmolApplet1 = Jmol.getApplet("jmolApplet1", Info)
</script>
Top Model {{ topmodel }} [red]
{% endif %}
</td></table>
</center>
</p>

{% endif %}
<div id="log_txt" class='log'>{{ log | safe }}</div>

<!--align {1.1} {2.1};-->
<p>
<!--
</center>
{%if j.get_status == 'finished' %}
<span class="badge badge-success">done</span>
{% endif %}
{%if j.get_status == 'running' %}
<span class="badge badge-warning">running</span>
{% endif %}
{%if j.get_status == 'waiting' %}
<span class="badge badge-info">waiting</span>
{% endif %}
-->
</center>
</p>

<p>
  <button id="go" onclick="go()" class="btn btn btn-success">Run!</button>
  <button onclick="topdb()" class="btn btn btn">CIF to PDB</button>
<!--
  <button onclick="rpr()" class="btn btn btn">Standardize</button>
-->
</p>

<p>
  The RMSD csv output file can be found here  <a target="_blank" href="{{ MEDIA_URL }}jobs/{{ j.job_id }}/rmsds.csv">rmsds.csv</a>
</a>

<p>The raw output files for each step of the pipeline can be found  <a href="https://rna-tools.online/media/jobs/{{ j.job_id }}/">here</a> and downloaded as a ZIP file <a href="{% url 'download_project_dir' job_id=j.job_id %}">here</a>.</p>

<span class="pull-right">
  <button class="btn btn-small" style="margin-bottom:10px;" id="explainX">Explain</button>
</span>

<div id="explain" class="docs">

  <p>
    <h5>Documentation</h5>
  </p>

     <p>
       rna_calc_rmsd.py - calculate RMSDs of structures to the target.
     </p>
     <p>
       Demo files <a href="{{ STATIC_URL }}app/demo/rp21.zip">rp21.zip</a>.
     </p>
     <p>
       If you still have problem with various number of atoms, check out this issue: get_rnapuzzle_ready see <a href="/tools/">Tools</a>
    </p>
    <pre>
fn                        rmsd_all
21_Adamiak_1_rpr.pdb      13.3
21_ChenHighLig_1_rpr.pdb  12.85
21_Das_1_rpr.pdb          12.88
</pre>

<p>     <a href="https://rna-tools.readthedocs.io/en/latest/tools.html#root-mean-square-deviation-rmsd">https://rna-tools.readthedocs.io/en/latest/tools.html#root-mean-square-deviation-rmsd</a>
</p>
It's also possible to compare all vs all structures to get a matrix (in numpy format) of RMSD values:
    <pre>
# 21_3dRNA_1_rpr.pdb 21_Adamiak_1_rpr.pdb 21_ChenHighLig_1_rpr.pdb 21_Das_1_rpr.pdb 
0.0,13.299,12.851,12.882
13.299,0.0,3.77,5.161
12.851,3.77,0.0,4.566
12.882,5.161,4.566,0.0
</pre>

<a href="https://rna-tools.readthedocs.io/en/latest/tools.html#rna-calc-rmsd-all-vs-all">https://rna-tools.readthedocs.io/en/latest/tools.html#rna-calc-rmsd-all-vs-all</a>
     
<small class="hint"></small>

<script>
$("#explainX").click(function() {
    $("#explain").slideToggle();
});
</script>
{% endblock %}

    


