{% extends "base.html" %}
{% block content %}
<title>rna-tools.online</title>

<style>
 .hint {color:#808080;font-size:12px;}

.dz {
    border: dashed !important;
    background-color: white !important;
    border-radius: 10px !important;
}

.dz:hover {
    background-color: aliceblue !important;
}
</style>
<script>

    $(document).ready(function() {
	$('#mytable').DataTable(
	{
        "order": [[ 1, "desc" ]]
	}
	)
    });

    var progress_interval;

    $(document).ready( function(){
        progress_interval = setInterval(checkProgress, 1000);
    });
    function fetch() {
        $.ajax({
            url: "/fetch/{{ j.job_id }}",
	    data: { 
		    fetch: $("#fetch").val(),
		  },
        }
	      )
             };

    function checkProgress() {
        $.ajax({
            url: "{% url 'ajax_job_status' job_id=j.job_id tool='calc-inf' %}",
            success: function(d) {
		if ($('#log_txt').html().length != d['log'].length ) {
                    $("#log_txt").html(d['log']);}
                if (d['reload']==true){
		    location.href="/tools/{{ tool }}/{{ j.job_id }}";
                }
            }
    })
    };

   function demo(){
       $("#target").val('21_solution_2_rpr.pdb')
        $.ajax({
            url: "/demo/{{ tool }}/{{ j.job_id }}",
	})
    };

  function rm(){
        $.ajax({
            url: "/run/clear/{{ j.job_id }}",
	})
    };

  function go() {
        $('#go').prop('disabled', true);
        $.ajax({
            url: "/run/calc-inf/{{ j.job_id }}",
	    data : { target: $("#target").val() },
            success: function(d) {
                $("#log_txt").html(d['log']);
                if (d['reload']==true){
                    window.location.reload()
                }
            }
        })
    };

</script>
    
{% if j.get_status == 'finished' %}
<script src="{{ STATIC_URL }}app/jsmol/JSmol.min.js"></script>
<script>
 var jmolApplet0; // set up in HTML table, below
 // logic is set by indicating order of USE -- default is HTML5 for this test page, though
 var use = "HTML5" // JAVA HTML5 WEBGL IMAGE  are all otions

 jmol_isReady = function(applet) {
     Jmol._getElement(applet, "appletdiv").style.border="" //1px solid black
 }		

 script = 'h2oOn=true;set animframecallback "jmolscript:if (!selectionHalos) {select model=_modelNumber}";'
	 +'set errorCallback "myCallback";'
	 +'set defaultloadscript "isDssp = false;set defaultVDW babel;if(!h2oOn){display !water}";'
	 +'set zoomlarge true;set echo top left;refresh;'
	 +'load {{ MEDIA_URL }}jobs/{{ j.job_id }}/{{ j.job_id }}.pdb;set echo top center;'
	 +'spacefill off;spin off;wireframe off;cartoons on;color group;'

 var Info = {
     spinRateX: 0.2,
     spinRateY: 0.5,
     spinFPS: 20,
     spin:true,

     width: 400,
     height: 400,
     debug: false,
     color: "white",
     addSelectionOptions: false,
     serverURL: "http://chemapps.stolaf.edu/jmol/jsmol/php/jsmol.php",
     use: "HTML5",
     j2sPath: "{{ STATIC_URL }}app/jsmol/j2s",
     reagdyFunction: jmol_isReady,
     script: script,
     disableJ2SLoadMonitor: true,
     disableInitialConsole: true
 }
</script>
{% endif %}

<h2>Calculate INFs</h2>

<div align="right">
  <button onclick="demo()" class="btn btn-small btn-ok">Load demo</button>
  <button onclick="rm()" class="btn btn-small btn-ok">Remove All Files</button>
  <button onclick="javascript:location.reload();" class="btn btn-small btn-ok">Reset</button>  
</div>

<p>
 <button onclick="fetch()" class="btn btn-small" size="height:12px">Fetch</button> files from another job <input id="fetch" type="text" class="form-control" style="font-family:Monospace;width:150px;height:13px;" name="xxx" placeholder="" value=""></a><small class="hint"> e.g., 614e0a1b</small>
    <!--http://rna-tools.online/tools/seq/614e0a1b or-->
</p>

<label for="comment">RNA structure (in the PDB format)[first file dropped will be the target file] <span style="color:red"></br>Please, remove all spaces and non-standard characters in filenames, we're working on a fix to do it automatically for you</span></label>

<form enctype='multipart/form-data' action="/upload/{{ j.job_id }}" method='POST' class="dropzone dz" id="my-dropzone" >
  {% csrf_token %}
  <input type="hidden" id="job_id" name="job_id" value="{{ j.job_id }}" />
    <div class="fallback">
      <input name="file" type="file" multiple />
    </div>
</form>

<div class="form-group" style="width: 100%;">
<p>  <span style="padding-right:10px">target:</span> <input type="text" class="form-control" style="font-family:Monospace;;height:10px;" id="target" name="xxx" placeholder="" value=""> </a><small class="hint"> filename of file to be used as the reference, if empty the first file dropped will be used</small>
</p>

    <center>
    <table id="mytable" class="display" width="100%">
      <thead>
	 {% for h in headers %}
	 <th>{{ h }}</th>
	 {% endfor %}
      </thead>
      <tbody>
	{% for row in rows %}	  
        <tr>
 	  {% for i in row %}
	  <td>
	    {{ i }}
	  </td>
	  {% endfor %}
	</tr>
	{% endfor %}
      </tbody>
    </table>
    </center>

    <div id="log_txt" class='log'>{{ log | safe }}</div>

<p>
</center>
<!--
{%if j.get_status == 'finished' %}
<span class="badge badge-success">done</span>
{% endif %}
{%if j.get_status == 'running' %}
<span class="badge badge-warning">running</span>
{% endif %}
{%if j.get_status == 'waiting' %}
<span class="badge badge-info">waiting</span>
{% endif %}
-->

</p>
<p>
    <button id="go" onclick="go()" class="btn btn-success">Run!</button>
</p>
<p>
  The INF csv output file can be found here  <a target="_blank" href="{{ MEDIA_URL }}jobs/{{ j.job_id }}/inf.csv">inf.csv</a>
</a>

<p>The raw output files for each step of the pipeline can be found  <a href="https://rna-tools.online/media/jobs/{{ j.job_id }}/">here</a> and downloaded as a ZIP file <a href="{% url 'download_project_dir' job_id=j.job_id %}">here</a>.</p>

<small class="hint">

  <p>
    <h5>Documentation</h5>
  </p>
     <p>
       rna_calc_infs.py - a tool to calc inf_all (INF of all interactions), inf_stack (INF for stacking interaction), inf_WC (INF for Watson-Crick interactions), inf_nWC (INF for non-Watson-Crick interactions), SNS_WC (sensitivity for Watson-Crick interactions), PPV_WC (positive predictive values for Watson-Crick interactions), SNS_nWC (sensitivity for non-Watson-Crick interactions), PPV_nWC (positive predictive values for non-Watson-Crick) interactions between two structures (or one vs more)
     </p>
     <p>
       If you still have problem with various number of atoms, check out this issue: get_rnapuzzle_ready see <a href="/tools/">Tools</a>
       
    </p>
     <pre style="font-size: 10px">target              fn                        inf_all  inf_stack  inf_WC  inf_nWC  sns_WC  ppv_WC  sns_nWC  ppv_nWC
21_3dRNA_1_rpr.pdb  21_ChenHighLig_1_rpr.pdb  0.64     0.65       0.6     0.58     1.0     0.36    1.0      0.33
21_3dRNA_1_rpr.pdb  21_Adamiak_1_rpr.pdb      0.59     0.59       0.6     0.71     1.0     0.36    1.0      0.5
21_3dRNA_1_rpr.pdb  21_Das_1_rpr.pdb          0.57     0.62       0.6     0.3      1.0     0.36    1.0      0.09</pre>
    <p>
    <p>
T. Waleń, G. Chojnowski, P. Gierski, and J. M. Bujnicki, “ClaRNA: a classifier of contacts in RNA 3D structures based on a comparative analysis of various classification schemes.,” Nucleic Acids Research, vol. 42, no. 19, pp. e151–e151, Oct. 2014.
    </p>
<small class="hint"></small>

{% endblock %}
