{% extends "base.html" %}
{% block content %}
<title>rna-tools.online</title>

<style>
 .hint {color:#808080;font-size:12px;}

body {
    background-color: #f8f8f8 !important;
}

.dz {
    border: dashed !important;
    background-color: white !important;
    border-radius: 10px !important;
}

.dz:hover {
    background-color: aliceblue !important;
}

</style>

<script>
  function go() {
      alert('go');
}
</script>

<h2>Concatenate PDB files</h2>

<label for="comment">RNA structure (in the PDB format)</label>

<form enctype='multipart/form-data' action="/upload/{{ j.job_id }}" method='POST' class="dropzone dz" id="my-dropzone" >
  {% csrf_token %}
  <input type="hidden" id="job_id" name="job_id" value="{{ j.job_id }}" />
    <div class="fallback">
      <input name="file" type="file" multiple />
    </div>
</form>
<button onclick="go()" class="btn btn-large btn-success">Run!</button>

<small class="hint">The input file should contain RNA only. Modelling of RNA-protein complexes is not supported yet.</small>
</div>
{% if error %}
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Error!</strong> {{ error }}
</div>
{% endif %}

<p class="lead" style="font-size:15px; text-align: left;">
    <form id="submit" ACTION="/submit/" METHOD="Post" enctype="multipart/form-data" data-role="acknowledge-input">
        {% csrf_token %}

<!--
        <input class="input-large" type="text" name="email" date-type="email" placeholder="E-mail address" id="email" value=""><br />
        <small class="hint">E-mail address is optional</small>
	-->
</p>
<input type="hidden" id="demo" name="demo" value="false" />

</p>
{%comment%}
 <p><b>What do you want to model? </b>
 </p>
 <input style="height:px" class="input-large" id="capt" type="text" name="capt" date-type="" placeholder="if you are not a robot type RNA" value=""><br />
{%endcomment%}



<input type="hidden" id="job_title" name="job_title" value="demo" />
<input type="hidden" id="ss" name="ss" value="demo" />
<input type="hidden" id="ss" name="demo" value="false" />

</form>

<!--
<label>Brochure File</label>
<input type="file" name="file" style="display:none;" id="pdffile" />
<div class="input-append">
<input type="text" name="subfile" id="subfile" class="input">
<a class="btn" click="$('#pdffile').click();">Browse</a>
</div>
<br/>-->


<!--
<div class="bootstrap-filestyle">
  <input type="text" disabled="" class="input-large"> <label class="btn" for="input1"><span>Choose file</span></label>
</div>-->
<!--
<span class="btn btn-file">Upload a file<input type="file" /></span>
-->
{% endblock %}
