{% extends "base.html" %}
{% block content %}
<title>RNAmasonry</title>

<!-- <strong>Magnus Marcin</strong></a>, <strong>Michał Boniecki</strong>, -->

<h3>Cite</h3>
<p>

    <b><a href="">RNA fragment assembly with experimental restraints</a></b>
</br>

<a href="mailto:simrnaweb@genesilico.pl">Grzegorz Chojnowski</a>, Rafał Zaborowski, Marcin Magnus and <a href="mailto:iamb@genesilico.pl"><strong>Janusz M. Bujnicki</strong></a><br>
    submitted
</p>

<hr>
<div class="text-left">
    <strong>International Institute of Molecular and Cell Biology</strong></br>
Laboratory of Bioinformatics and Protein Engineering</br>
Trojdena 4, 02-109 Warsaw, POLAND</br>
tel: +48-22 597 0750</br>
fax: +48 22 597 0715</br>
</p>

<div class="text-right">
  <a href="http://www.iimcb.gov.pl/"><img style="width:250px" src="{{ STATIC_URL }}app/img/IIMCB.png"></a>
</div>
<hr>
<div class="text-center">
  <a href="http://genesilico.pl/"><img style="" src="{{ STATIC_URL }}app/img/banner.png" alt="Laboratory of Bioinformatics and Protein Engineering"></a>
</div>
{% endblock %}
