{% extends "base.html" %}
{% block content %}
<!-- <strong>Magnus Marcin</strong></a>, <strong>Michał Boniecki</strong>, -->

<h3>Cite</h3>
<p>
    <b><a href="">rna-tools.online – a swiss army knife for RNA 3D modeling analyses</a></b>
</p>
<p>
<a href="mailto:m.magnus@imol.edu.pl">Marcin Magnus</a>
</p>

<hr>
<div class="text-left">

  <strong>International Institute of Molecular Mechanisms and Machines</strong></br>
  Polish Academy of Sciences<br>
  02-109 Warsaw<br>
  Poland<br>
</div>

{% endblock %}
