{% extends "base.html" %}
{% block content %}
<title>rna-tools.online</title>

<style>
 .hint {color:#808080;font-size:12px;}

.dz {
    border: dashed !important;
    background-color: white !important;
    border-radius: 10px !important;
}

.dz:hover {
    background-color: aliceblue !important;
}
</style>

<script>
    var progress_interval;

    $(document).ready( function(){
        progress_interval = setInterval(checkProgress, 1000);
    });

    function checkProgress() {
        $.ajax({
            url: "{% url 'ajax_job_status' job_id=j.job_id %}",
            success: function(d) {
                $("#log_txt").html(d['log']);
                if (d['reload']==true){
                    window.location.reload()
                }
            }
    })
    };

    function analyze() {
        $.ajax({
            url: "/run/seq/{{ j.job_id }}",
            success: function(d) {
                $("#log_txt").html(d['log']);
                if (d['reload']==true){
                    window.location.reload()
                }
            }
        })
    };

    function edit() {

        $.ajax({
            url: "/run/edit/{{ j.job_id }}",
	    data: { edit: $("#edit").val() }
	})
    };

</script>

<h2>Edit PDB files</h2>

<div align="right">
  <button onclick="rm()" class="btn btn-small btn-ok">Reset</button>
</div>

<label for="comment">RNA structure (in the PDB format)</label>

<form enctype='multipart/form-data' action="/upload/{{ j.job_id }}" method='POST' class="dropzone dz" id="my-dropzone" >
  {% csrf_token %}
  <input type="hidden" id="job_id" name="job_id" value="{{ j.job_id }}" />
    <div class="fallback">
      <input name="file" type="file" multiple />
    </div>
</form>

<div class="form-group" style="width: 100%;">
    <label for="comment">Selection for deletion</label>
    <textarea class="form-control" rows="!" style="width: 100%;font-family:Monospace;" id="edit" name="xxx" placeholder="A:1-4" value=""></textarea>
    <small class="hint">Example: A:1-41>B:1-41</small>
</div>

<div class="well"><div id="log_txt" style="margin-top:10px;font-size:12px;font-family:'Lucida Console', Monaco, monospace">{{ log | safe }}</div></div>

<p>
  <button onclick="analyze()" class="btn btn-large btn-success">Analyze</button>
  <button onclick="edit()" class="btn btn-large btn-success">Edit</button>
</p>
															       
<p>
The raw output files for each step of the pipeline can be found <a href="{{ MEDIA_URL }}jobs/{{ j.job_id }}/{{ j.job_id }}.zip">here</a>
</p>

<small class="hint">
  <p>
    <h5>Documentation</h5>
  </p>
<p>The output are files with "_edit.pdb".</p>

Edit your structure.

The function can take A:3-21>A:1-19 or even syntax like this A:3-21>A:1-19,B:22-32>B:20-30 and will do an editing.

The output is printed, line by line. Only ATOM lines are edited!

      This is <a href="https://rna-tools.readthedocs.io/en/latest/main.html#edit">https://rna-tools.readthedocs.io/en/latest/main.html#edit</a> --edit EDIT functionality.

    status: {{ j.get_status }}</small>

{% endblock %}
