{% extends "base.html" %}
{% block content %}
<title>rna-tools.online</title>

<h2>Documentation</h2>
<p>
  This server is an implementation of some methods from <a href="https://github.com/mmagnus/rna-tools">rna-tools</a>.
</p>
<p>
  rna-tools includes a set of tools dedicated to (1) RNA structural handling and manipulating, i.e. rebuilding missing atoms, (2) structure clustering, (3) standardization of RNA structures, (4 visualization of secondary RNA structures, i.e. drawing RNA arc diagrams of secondary structure, (5) visualization of RNA sequence alignments, and more.
</p>
<p>
  M. Magnus, M. Antczak, T. Zok, J. Wiedemann, P. Lukasiak, Y. Cao, J. M. Bujnicki, E. Westhof, M. Szachniuk, and Z. Miao, “RNA-Puzzles toolkit: a computational resource of RNA 3D structure benchmark datasets, structure manipulation, and evaluation tools.,” Nucleic Acids Research, vol. 48, no. 2, pp. 576–588, Jan. 2020.
</p>

<p>
  The detailed documentation can be found at <a href="https://rna-tools.readthedocs.io">https://rna-tools.readthedocs.io</a>
</p>

{% endblock %}
