{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
$(document).ready(function(){
$('.carousel').carousel({interval: 5000});
});
</script>

<script type="text/javascript">
$(function() {
    $('#myTab a').click(function (e) {
	e.preventDefault();
	$(this).tab('show');
    })
    $().acknowledgeinput();
});
</script>

<style type="text/css">
.jumbotron {
background-color: white !important;
padding:0px !important;
margin:0px !important;
}


.carousel-control.left, .carousel-control.right {
    background-image: none
}


.carousel-indicators li {
 border: 1px solid grey !important;
width:5px;
height:5px;
}
.carousel-indicators .active {
  background-color: #33CCFF;
width:5px;
height:5px;
}

.carousel-caption{
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
    bottom: 0;
    left: 0;
    padding: 15px;
    position: absolute;
    right: 0;
}
</style>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="color:white">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <center>
        <img src="{{ STATIC_URL }}app/img/01.png" height="" alt="">
	</center>
          <div class="carousel-caption">
	      <h4>rna-tools</h4>
	      a toolbox to analyze sequences, structures and simulations of RNA (and way more!)
          </div>
      </div>
  </div>
</div> 

<p class="lead" style="margin-top:20px;font-size:16px;text-align: justify;">
    <strong style="font-size:20px">rna-tools s a packages of shell utils that are using the common core library</strong>
    <br />
    rna-tools is a core library and a set of programs to run various Python functions related to work, initially, with PDB files of RNA structures, but right now this is a huge toolbox of tools to process various types of RNA data.
</p>

<!--
<p class="lead" style="margin-top:20px;font-size:16px;text-align: justify;">
    <strong>An exemplary results can be found <a href="/rna-tools-web/jobs/tRNA_with_SAXS-434e1522">here</a>.</strong>
</p>
-->

<a class="btn btn-large btn-success" href="/tools">Submit your job</a>

<hr/>
<p>
    To <b>download a standalone version</b> of rna-tools, visit <a href="https://github.com/mmagnus/rna-tools/">https://github.com/mmagnus/rna-tools/</a>
</p>

<hr />
  
<script>
$(document).ready(function() {
    $("#demo_panel").hide();
    $("#demo").val('false');
    $("#demo2").val('false');
});

$("#load_example").click(function() {
    $("#demo_panel").slideDown("slow");
    $("#form").slideUp("slow");
    $("#demo").val('true');
}); 

$("#load_example2").click(function() {
    $("#demo_panel").slideDown("slow");
    $("#form").slideUp("slow");
    $("#demo2").val('true');
}); 


</script>

{% endblock %}
