{% extends "base.html" %}
{% block content %}
<title>rna-tools.online</title>

<style>
 .hint {color:#808080;font-size:12px;}

.dz {
    border: dashed !important;
    background-color: white !important;
    border-radius: 10px !important;
}

.dz:hover {
    background-color: aliceblue !important;
}
</style>

{% if j.get_status == 'finished' %}
<script src="{{ STATIC_URL }}app/jsmol/JSmol.min.js"></script>
<script>
 var jmolApplet0; // set up in HTML table, below
 // logic is set by indicating order of USE -- default is HTML5 for this test page, though
 var use = "HTML5" // JAVA HTML5 WEBGL IMAGE  are all otions

 jmol_isReady = function(applet) {
     Jmol._getElement(applet, "appletdiv").style.border="" //1px solid black
 }		

 script = 'h2oOn=true;'
	 +'set errorCallback "myCallback";'
	 +'set defaultloadscript "isDssp = false;set defaultVDW babel;if(!h2oOn){display !water}";'
	 +'set zoomlarge true;set echo top left;refresh;'
	 +'spacefill off;spin off;wireframe off;cartoons on;'

 var Info = {
     spinRateX: 0.2,
     spinRateY: 0.5,
     spinFPS: 20,
     spin:true,

     width: 600,
     height: 600,
     debug: false,
     color: "white",
     addSelectionOptions: false,
     serverURL: "http://chemapps.stolaf.edu/jmol/jsmol/php/jsmol.php",
     use: "HTML5",
     j2sPath: "{{ STATIC_URL }}app/jsmol/j2s",
     reagdyFunction: jmol_isReady,
     script: script,
     disableJ2SLoadMonitor: true,
     disableInitialConsole: true
 }
</script>
<script>
 var jmolApplet1; // set up in HTML table, below
 // logic is set by indicating order of USE -- default is HTML5 for this test page, though
 var use = "HTML5" // JAVA HTML5 WEBGL IMAGE  are all otions

 jmol_isReady = function(applet) {
     Jmol._getElement(applet, "appletdiv").style.border="" //1px solid black
 }		

 script = 'h2oOn=true;'
	 +'set errorCallback "myCallback";'
	 +'set defaultloadscript "isDssp = false;set defaultVDW babel;if(!h2oOn){display !water}";'
	 +'set zoomlarge true;set echo top left;refresh;'
	 +'spacefill off;spin off;wireframe off;cartoons on;'

 var Info = {
     spinRateX: 0.2,
     spinRateY: 0.5,
     spinFPS: 20,
     spin:true,

     width: 350,
     height: 400,
     debug: false,
     color: "white",
     addSelectionOptions: false,
     serverURL: "http://chemapps.stolaf.edu/jmol/jsmol/php/jsmol.php",
     use: "HTML5",
     j2sPath: "{{ STATIC_URL }}app/jsmol/j2s",
     reagdyFunction: jmol_isReady,
     script: script,
     disableJ2SLoadMonitor: true,
     disableInitialConsole: true
 }
</script>
{% endif %}

<script>

    var progress_interval;

    $(document).ready( function(){
        progress_interval = setInterval(checkProgress, 500);
    });

    function checkProgress() {
        $.ajax({
            url: "{% url 'ajax_job_status' job_id=j.job_id tool='seq' %}",
            success: function(d) {
		lt = $('#log_txt').html().trim().length;
		nl = d['log'].trim().length;
		//alert(lt);
		if (lt < nl) {
		    if (lt / nl < 0.9) {
			$("#log_txt").html(d['log']);
			//alert('udpate lt / nl')
		    }
		} else {
		    if (nl / lt < 0.9) {
			$("#log_txt").html(d['log']);
			//alert('udpate nl / lt')
		    };
		};
                    if (d['reload']==true){
			location.href="/tools/{{ tool }}/{{ j.job_id }}";
		    };
	    }})
    };

    function demo(){
        $("#mutate").val('X:42a')
        $.ajax({
            url: "/demo/{{ tool }}/{{ j.job_id }}",
	})
    };

  function rm(){
        $.ajax({
            url: "/run/clear/{{ j.job_id }}",
	})
    };

    function analyze() {
        $.ajax({
            url: "/run/seq/{{ j.job_id }}",
            success: function(d) {
                $("#log_txt").html(d['log']);
                if (d['reload']==true){
                    window.location.reload()
                }
            }
        })
    };

    function fetch() {
        $.ajax({
            url: "/fetch/{{ j.job_id }}",
	    data: { 
		    fetch: $("#fetch").val(),
		  },
        }
	      )
             };

  function go() {
      if ($('#mutate').val())
      {
       $('#submitButton').prop('disabled', true);
        $.ajax({
            url: "/run/mutate/{{ j.job_id }}",
	    data: { mutate: $("#mutate").val() }
	})
      }
    };

</script>

{{ j.get_status }}

<h2>Mutate</h2>

<div align="right">
  <button onclick="demo()" class="btn btn-small btn-ok">Load demo</button>
  <button onclick="rm()" class="btn btn-small btn-ok">Remove All Files</button>
  <button onclick="javascript:location.reload();" class="btn btn-small btn-ok">Reset</button>  
</div>

<p>
 <button onclick="fetch()" class="btn btn-small" size="height:12px">Fetch</button> files from another job <input id="fetch" type="text" class="form-control" style="font-family:Monospace;width:150px;height:13px;" name="xxx" placeholder="" value=""></a><small class="hint"> e.g., 614e0a1b</small>
    <!--http://rna-tools.online/tools/seq/614e0a1b or-->
</p>

<label for="comment">RNA structure (in the PDB format)<span style="color:red"></br>Please, remove all spaces and non-standard characters in filenames, we're working on a fix to do it automatically for you</span></label>

<form enctype='multipart/form-data' action="/upload/{{ j.job_id }}" method='POST' class="dropzone dz" id="my-dropzone" >
  {% csrf_token %}
  <input type="hidden" id="job_id" name="job_id" value="{{ j.job_id }}" />
    <div class="fallback">
      <input name="file" type="file" multiple />
    </div>
</form>

<form id="submit" ACTION="/tools/{{ tool }}/{{ j.job_id }}" METHOD="Post" enctype="multipart/form-data" data-role="acknowledge-input">
{% csrf_token %}
<div class="form-group" style="width: 100%;">
    <label for="comment">To mutate:</label>
    <input type="text" class="form-control" required style="font-family:Monospace;" id="mutate" name="ss" placeholder="" value=""></textarea>
    <small class="hint">Example: A:1A+2A+3A+4A,B:13A</small>
</div>

    <div id="log_txt" class='log'>{{ log | safe }}</div>

<center>
<script type="text/javascript">
    Info.script=`load {{ MEDIA_URL }}jobs/{{ j.job_id }}/{{ ref }}; color [xd11141]; cartoons only;\
 load append {{ MEDIA_URL }}jobs/{{ j.job_id }}/{{ model }}; select 2.1; color [x00b159]; cartoons only; frame *`
  jmolApplet1 = Jmol.getApplet("jmolApplet1", Info)
</script>
{%if j.get_status == 'finished' %}
{{ ref }} (green) vs {{ model }} (red)
{% endif %}

</center>
<!--
{%if j.get_status == 'finished' %}
<span class="badge badge-success">done</span>
{% endif %}
{%if j.get_status == 'running' %}
<span class="badge badge-warning">running</span>
{% endif %}
{%if j.get_status == 'waiting' %}
<span class="badge badge-info">waiting</span>
{% endif %}
-->

</p>

<button type="submit" onclick="go()" id="submitButton" class="btn btn-medium btn-success">Run!</button></form>
<button onclick="analyze()" class="btn btn-small">Get sequences</button>
</table>

<!--
<table>
  <td>
  <script type="text/javascript">
    Info.script=`load {{ MEDIA_URL }}jobs/{{ j.job_id }}/{{ ref }}; color [x00b159]; cartoons only; `
  jmolApplet0 = Jmol.getApplet("jmolApplet0", Info)
</script>
  </td>
  <td>
<script type="text/javascript">
    Info.script=`load {{ MEDIA_URL }}jobs/{{ j.job_id }}/{{ model }}; color [xd11141]; cartoons only;`
  jmolApplet1 = Jmol.getApplet("jmolApplet1", Info)
</script>
</td></table>
-->


<p>The raw output files for each step of the pipeline can be found  <a href="https://rna-tools.online/media/jobs/{{ j.job_id }}/">here</a> and downloaded as a ZIP file <a href="{% url 'download_project_dir' job_id=j.job_id %}">here</a>.</p>

<small class="hint">
  <p>
    <h5>Documentation</h5>
  </p>
<p>The output are files with "_mutate.pdb".</p>

<p>
  Load the example, Click analyze to see
<pre>
>X:42-44
UGC
</pre>
and then type into field "X:42a" and click Mutate to mutate first U into A.</br>
Run Analyze again to see if the change was introduced:

<pre>
# missing_op1op2_r43OK
>X:42-44
UGC
# missing_op1op2_r43OK_mutate
>X:42-44
AGC
</pre>
yes, it was, the sequence for "_mutate.pdb" output file is now AGC.
</p>
<p>
This tool works on multiple chains; for example, use 'A:1A,B:13A' to mutate the first residue of chain A into adenine and the first residue of chain B into adenine.
</p>
<p>
This is <a target="_new" href="https://rna-tools.readthedocs.io/en/latest/want.html?mutate-residues#mutate-residues">https://rna-tools.readthedocs.io/en/latest/want.html?mutate-residues#mutate-residues</a>
</p>

<p>
The rna-tools (RNA-Puzzles toolkit) package uses ModeRNA to introduce single or double mutations in structures. But it overcomes ModeRNA’s limitation in processing only one chain at the time. Multiple mutations in multiple chains can be introduced.
</p>

<p>
M. Magnus, M. Antczak, T. Zok, J. Wiedemann, P. Lukasiak, Y. Cao, J. M. Bujnicki, E. Westhof, M. Szachniuk, and Z. Miao, “RNA-Puzzles toolkit: a computational resource of RNA 3D structure benchmark datasets, structure manipulation, and evaluation tools.,” Nucleic Acids Research, vol. 48, no. 2, pp. 576–588, Jan. 2020.
</p>

<p>
  M. Rother, K. M. Rother, T. Puton, and J. M. Bujnicki, “ModeRNA: a tool for comparative modeling of RNA 3D structure.,” Nucleic Acids Research, vol. 39, no. 10, pp. 4007–4022, May 2011.
</p>

    </small>

{% endblock %}
