{% extends "base.html" %}
{% block content %}

<script src="{{ STATIC_URL }}app/jsmol/JSmol.min.js"></script>
<script src="{{ STATIC_URL }}app/jsmol/j2s/core/package.js"></script>
<script type="text/javascript">
 var jmolApplet0; // set up in HTML table, below
 // logic is set by indicating order of USE -- default is HTML5 for this test page, though
 var use = "HTML5" // JAVA HTML5 WEBGL IMAGE  are all otions

 jmol_isReady = function(applet) {
     Jmol._getElement(applet, "appletdiv").style.border="" //1px solid black
 }		

 script = 'h2oOn=true;set animframecallback "jmolscript:if (!selectionHalos) {select model=_modelNumber}";'
	 +'set errorCallback "myCallback";'
	 +'set defaultloadscript "isDssp = false;set defaultVDW babel;if(!h2oOn){display !water}";'
	 +'set zoomlarge true;set echo top left;echo loading {{ j.get_dars_to_mc.0 }}...;refresh;'
	 +'load {{ MEDIA_URL }}jobs/{{ j.job_id }}/output_PDBS/{{ j.get_aa_files.0 }};set echo top center;'
	 +'spacefill off;spin off;wireframe off;cartoons on;color group;'

 var Info = {
     spinRateX: 0.2,
     spinRateY: 0.5,
     spinFPS: 20,
     spin:true,

     width: 700,
     height: 600,
     debug: true,
     color: "white",
     addSelectionOptions: false,
     serverURL: "http://chemapps.stolaf.edu/jmol/jsmol/php/jsmol.php",
     use: "HTML5",
     j2sPath: "{{ STATIC_URL }}app/jsmol/j2s",
     reagdyFunction: jmol_isReady,
     script: script,
     disableJ2SLoadMonitor: true,
     disableInitialConsole: true
 }

    var progress_interval;

  
    {% if not j.get_status == 'waiting' %}
    $(document).ready( function(){
        progress_interval = setInterval(checkProgress, 100);
    });
    {%endif%}

    function checkProgress() {
        $.ajax({
            url: "{% url 'ajax_job_status' job_id=j.job_id %}",
            success: function(d) {
                $("#log_txt").html(d['log']);
                if (d['reload']==true){
                    window.location.reload()
                }
            }
        })
    }
</script>

<title>rna-tools-web ({{j.job_title}})</title>

<!-- refresh -->  
{% if load.1 > 1 and progress_float == 0.0 %}
<div class="alert alert-error">
  <center>
    <!--<span style="font-size:13px" class="label label-important">-->
    <strong>
      Our cluster is running {{ load.0 }} jobs (max. is 1000 jobs) now and can not run any new jobs! Please, be patient!
    </strong>
  </center>
</div>

{% endif %} 

{% if j.get_status == 'waiting' %}
<meta http-equiv="refresh" content="10">
{% endif %}

<h3>Results for job: {{ j.job_id }} ({{ j.job_title }})</h3>

<p><strong>The program is working on your request.</strong></p>
<p>
    <!--You can bookmark <a target="_blank" href="/RNPdock/job/{{ j.job_id }}">/RNPdock/job/{{ j.job_id }}</a> page to get your results later.-->
    You can bookmark <a target="_blank" href="/rnamasonry/jobs/{{ j.job_id }}/">/rnamasonry/jobs/{{ j.job_id }}</a> page to get your results later.
</br>
</br>

{% if j.pdb_fn %}
<pre>{{ j.pdb_fn }} {% if j.residues_to_freeze %} frozen: {{ j.residues_to_freeze }}{% endif %}</pre>
{% endif %}

{% if j.email %}<small><pre>{{ j.email }}</pre></small>{% endif %}

<p>
    The raw output files for each step of the pipeline can be found <a target="_blank" href="{% url 'download_project_dir' job_id=j.job_id %}">here</a>
</p>

<p>
    {% comment %}
    {% if j.get_status == 'waiting' %}
    <strong>Status of your job: <span class="label label-important">{{ j.get_status }}</span></strong>
    {% endif %}
    {% if j.get_status == 'queue' %}
    <strong>Status of your job: <span class="label label-warning">{{ j.get_status }}</span></strong>
    {% endif %}
    
    {% if j.get_status == 'running' %} 
    <div>
        <strong>Status of your job:   <span class="label label-success">{{ j.get_status }}</span></strong>
        {% endif %}

{% endcomment %}

</p>
{% if j.restraints_fn %}
<pre>{{ j.get_restraints }}</pre>
{% endif %}


Download <a href="{{ MEDIA_URL }}jobs/{{ j.job_id }}">{{ MEDIA_URL }}jobs/{{ j.job_id }}/</a>

{% if j.get_aa_files.0 %}
<h4>Intermediate results (full simulation is not done yet)</h4>
<script type="text/javascript">
 jmolApplet0 = Jmol.getApplet("jmolApplet0", Info)
</script>
Download <a href="{{ MEDIA_URL }}jobs/{{ j.job_id }}/output_PDBS/{{ j.get_aa_files.0 }}">the pdb file</a>
<hr />
{% endif %}

{% if j.get_aa_files %}
<strong>The representatives of top three clusters of your simulation (intermediate):</strong>
<ul>
    {% for s in j.get_aa_files %}
    <li>
        {% if forloop.counter == 1 %}
        <span class="label label-success">
            #{{forloop.counter}} cluster  
        </span>
        {% else %}
        #{{forloop.counter}} cluster 
        {% endif %}      
        <a href="{{ MEDIA_URL }}jobs/{{ j.job_id }}/output_PDBS/{{ s }}">{{ s }}</a>
        <!--<a href="{{ MEDIA_URL }}jobs/{{ j.job_id }}/'output_PDBS'ref_struc/{{ s }}/"><img src="{{ STATIC_URL }}app/img/folder.gif"></a>-->
        <!--<small><a href="{{ MEDIA_URL }}jobs/{{ j.job_id }}/ref_struc/{{ s }}/traj.pdb">traj.pdb</a></small>-->
    </li>
    {% endfor %}
    {% endif %}
    
    <!--<strong>Log ...</strong> <a href="{{ MEDIA_URL }}jobs/{{ j.job_id }}/log.txt"><i class="icon-circle-arrow-down"></i></a>-->
    <div id="logx">
        {%if j.get_processing %}
        <p>The log of the data processing. </p>

        <strong>Processing log:</strong>
        <pre style="font-size:10px;	overflow: scroll;white-space: pre;word-break: break-all;word-wrap: break-word;">{{ j.get_processing }}</pre>
        {%endif%}

        <!-- <pre style="font-size:10px;	overflow: scroll;white-space: pre;word-break: break-all;word-wrap: break-word;">{{ j.get_log_reverse }}</pre> -->

        <div id="log_txt" style="margin-top:10px;font-size:12px;font-family:'Lucida Console', Monaco, monospace"></div>

        <script>
         $(document).ready(function() {
             $("#logxXXXXXXXXXX").hide();
         });
        </script>

<script>
$("#button2").click(function() {
    $("#logx").slideToggle();
});
</script>
{% endblock %}
