{% extends "base.html" %}
{% block content %}
<title>rna-tools.online</title>

<style>
 .hint {color:#808080;font-size:12px;}

.dz {
    border: dashed !important;
    background-color: white !important;
    border-radius: 10px !important;
}

.dz:hover {
    background-color: aliceblue !important;
}
</style>

{% if j.get_status == 'finished' %}
<script src="{{ STATIC_URL }}app/jsmol/JSmol.min.js"></script>
<script>
 var jmolApplet0; // set up in HTML table, below
 // logic is set by indicating order of USE -- default is HTML5 for this test page, though
 var use = "HTML5" // JAVA HTML5 WEBGL IMAGE  are all otions

 jmol_isReady = function(applet) {
     Jmol._getElement(applet, "appletdiv").style.border="" //1px solid black
 }		

 script = 'h2oOn=true;'
	 +'set errorCallback "myCallback";'
	 +'set defaultloadscript "isDssp = false;set defaultVDW babel;if(!h2oOn){display !water}";'
	 +'set zoomlarge true;set echo top left;refresh;'
	 +'spacefill off;spin off;wireframe off;cartoons on;'

 var Info = {
     spinRateX: 0.2,
     spinRateY: 0.5,
     spinFPS: 20,
     spin:true,

     width: 600,
     height: 600,
     debug: false,
     color: "white",
     addSelectionOptions: false,
     serverURL: "http://chemapps.stolaf.edu/jmol/jsmol/php/jsmol.php",
     use: "HTML5",
     j2sPath: "{{ STATIC_URL }}app/jsmol/j2s",
     reagdyFunction: jmol_isReady,
     script: script,
     disableJ2SLoadMonitor: true,
     disableInitialConsole: true
 }
</script>
<script>
 var jmolApplet1; // set up in HTML table, below
 // logic is set by indicating order of USE -- default is HTML5 for this test page, though
 var use = "HTML5" // JAVA HTML5 WEBGL IMAGE  are all otions

 jmol_isReady = function(applet) {
     Jmol._getElement(applet, "appletdiv").style.border="" //1px solid black
 }		

 script = 'h2oOn=true;'
	 +'set errorCallback "myCallback";'
	 +'set defaultloadscript "isDssp = false;set defaultVDW babel;if(!h2oOn){display !water}";'
	 +'set zoomlarge true;set echo top left;refresh;'
	 +'spacefill off;spin off;wireframe off;cartoons on;'

 var Info = {
     spinRateX: 0.2,
     spinRateY: 0.5,
     spinFPS: 20,
     spin:true,

     width: 350,
     height: 400,
     debug: false,
     color: "white",
     addSelectionOptions: false,
     serverURL: "http://chemapps.stolaf.edu/jmol/jsmol/php/jsmol.php",
     use: "HTML5",
     j2sPath: "{{ STATIC_URL }}app/jsmol/j2s",
     reagdyFunction: jmol_isReady,
     script: script,
     disableJ2SLoadMonitor: true,
     disableInitialConsole: true
 }
</script>
{% endif %}

<script>

    var progress_interval;

    $(document).ready( function(){
        progress_interval = setInterval(checkProgress, 1000);
    });

    function fetch() {
        $.ajax({
            url: "/fetch/{{ j.job_id }}",
	    data: { 
		    fetch: $("#fetch").val(),
		  },
        }
	      )
             };

    function checkProgress() {
        $.ajax({
            url: "{% url 'ajax_job_status' job_id=j.job_id tool='qrnas' %}",
            success: function(d) {
		if ($('#log_txt').html().length != d['log'].length ) {
                    $("#log_txt").html(d['log']);}
                if (d['reload']==true){
		    location.href="/tools/{{ tool }}/{{ j.job_id }}";
                }
            }
    })
    };
  function rm(){
        $.ajax({
            url: "/run/clear/{{ j.job_id }}",
	})
    };

   function demo(){
        $.ajax({
            url: "/demo/{{ tool }}/{{ j.job_id }}",
	})
    };

  function go() {
      $('#go').prop('disabled', true);
        $.ajax({
            url: "/run/qrnas/{{ j.job_id }}",
            success: function(d) {
                $("#log_txt").html(d['log']);
                if (d['reload']==true){
                    window.location.reload()
                }
            }
        })
    };

</script>

<h2>Minimize with QRNAS</h2>

<div align="right">
  <button onclick="demo()" class="btn btn-small btn-ok">Load demo</button>
  <button onclick="rm()" class="btn btn-small btn-ok">Remove All Files</button>
  <button onclick="javascript:location.reload();" class="btn btn-small btn-ok">Reset</button>  
</div>

<p>
 <button onclick="fetch()" class="btn btn-small" size="height:12px">Fetch</button> files from another job <input id="fetch" type="text" class="form-control" style="font-family:Monospace;width:150px;height:13px;" name="xxx" placeholder="" value=""></a><small class="hint"> e.g., 614e0a1b</small>
    <!--http://rna-tools.online/tools/seq/614e0a1b or-->
</p>

<label for="comment">RNA structure (in the PDB format)<span style="color:red"></br>Please, remove all spaces and non-standard characters in filenames, we're working on a fix to do it automatically for you</span></label>

<form enctype='multipart/form-data' action="/upload/{{ j.job_id }}" method='POST' class="dropzone dz" id="my-dropzone" >
  {% csrf_token %}
  <input type="hidden" id="job_id" name="job_id" value="{{ j.job_id }}" />
    <div class="fallback">
      <input name="file" type="file" multiple />
    </div>
</form>

    <div id="log_txt" class='log'>{{ log | safe }}</div>

<center>
<script type="text/javascript">
    Info.script=`load {{ MEDIA_URL }}jobs/{{ j.job_id }}/{{ ref }}; color [xd11141]; cartoons only;\
 load append {{ MEDIA_URL }}jobs/{{ j.job_id }}/{{ model }}; select 2.1; color [x00b159]; cartoons only; frame *`
  jmolApplet1 = Jmol.getApplet("jmolApplet1", Info)
</script>
{%if j.get_status == 'finished' %}
{{ ref }} (green) vs {{ model }} (red)
{% endif %}

</center>
<!--
{%if j.get_status == 'finished' %}
<span class="badge badge-success">done</span>
{% endif %}
{%if j.get_status == 'running' %}
<span class="badge badge-warning">running</span>
{% endif %}
{%if j.get_status == 'waiting' %}
<span class="badge badge-info">waiting</span>
{% endif %}
-->

</p>

<p>
    <button id="go" onclick="go()" class="btn btn-success">Run!</button>
</p>

<p>The raw output files for each step of the pipeline can be found  <a href="https://rna-tools.online/media/jobs/{{ j.job_id }}/">here</a> and downloaded as a ZIP file <a href="{% url 'download_project_dir' job_id=j.job_id %}">here</a>.</p>

<small class="hint">
  <p>
    <h5>Documentation</h5>
  </p>


<p>
rna_refinement - RNA refinement with QRNAS.
</p>

 	<center>
          <img src="{{ STATIC_URL }}app/img/qrnas.png" width="60%"  alt="">
	  <p><b>
	      The demo input file with rebuilt phosphate is shown on the left,</br> and the refined version ("_refx.pdb") on the left with a much better geometry of bonds.</b></p>
	</center>

<p>
Models of RNA 3D structures obtained by modeling methods often suffer from local inaccuracies such as clashes or physically improbable bond lengths, backbone conformations, or sugar puckers. To ensure high quality of models, a procedure of re nement should be applied as a nal step in the modeling pipeline. The software tool QRNAS was developed in our laboratory to perform local re nement of nucleic acid structures based on an extended version of the AMBER force field. The extensions consist of energy terms associated with introduction of explicit hydrogen bonds, idealization of base pair planarity and regularization of backbone conformation.
</p>

Read more: Piatkowski, P., Kasprzak, J. M., Kumar, D., Magnus, M., Chojnowski, G., & Bujnicki, J. M. (2016). RNA 3D Structure Modeling by Combination of Template-Based Method ModeRNA, Template-Free Folding with SimRNA, and Refinement with QRNAS. Methods in Molecular Biology (Clifton, N.J.), 1490(Suppl), 217-235. http://doi.org/10.1007/978-1-4939-6433-8_14

<p>    
J. Stasiewicz, S. Mukherjee, C. Nithin, and J. M. Bujnicki, “QRNAS: software tool for refinement of nucleic acid structures.,” BMC Struct. Biol., vol. 19, no. 1, p. 5, Mar. 2019.
</p>
</small>
{% endblock %}
