{% extends "base.html" %}
{% block content %}
<title>rna-tools.online</title>

<style>
 .hint {color:#808080;font-size:12px;}

.dz {
    border: dashed !important;
    background-color: white !important;
    border-radius: 10px !important;
}

.dz:hover {
    background-color: aliceblue !important;
}
</style>

<script>

    var progress_interval;

    $(document).ready( function(){
        progress_interval = setInterval(checkProgress, 1000);
    });

    function checkProgress() {
        $.ajax({
            url: "{% url 'ajax_job_status' job_id=j.job_id tool='tocif' %}",
            success: function(d) {
		if ($('#log_txt').html().length != d['log'].length ) {
                    $("#log_txt").html(d['log']);}
		/* = ""*/
                if (d['reload']==true){
		    location.href="/tools/{{ tool }}/{{ j.job_id }}";
                }
            }
    })
    };

    function fetch() {
        $.ajax({
            url: "/fetch/{{ j.job_id }}",
	    data: { 
		    fetch: $("#fetch").val(),
		  },
        }
	      )
             };

   function demo(){
        $.ajax({
            url: "/demo/{{ tool }}/{{ j.job_id }}",
	})
    };

  function rm(){
        $.ajax({
            url: "/run/clear/{{ j.job_id }}",
	})
    };

  function go() {
      $('#go').prop('disabled', true);
        $.ajax({
            url: "/run/{{ tool }}/{{ j.job_id }}",
            success: function(d) {
                $("#log_txt").html(d['log']);
                if (d['reload']==true){
                    window.location.reload()
                }
            }
        })
    };

</script>

<h2>To CIF</h2>


<div align="right">
  <button onclick="demo()" class="btn btn-small btn-ok">Load demo</button>
  <button onclick="rm()" class="btn btn-small btn-ok">Remove All Files</button>
  <button onclick="javascript:location.reload();" class="btn btn-small btn-ok">Reset</button>  
</div>

<p>
 <button onclick="fetch()" class="btn btn-small" size="height:12px">Fetch</button> files from another job <input id="fetch" type="text" class="form-control" style="font-family:Monospace;width:150px;height:13px;" name="xxx" placeholder="" value=""></a><small class="hint"> e.g., 614e0a1b</small>
    <!--http://rna-tools.online/tools/seq/614e0a1b or-->
</p>

<label for="comment">Covert PDB files to CIF</label>

<form enctype='multipart/form-data' action="/upload/{{ j.job_id }}" method='POST' class="dropzone dz" id="my-dropzone" >
  {% csrf_token %}
  <input type="hidden" id="job_id" name="job_id" value="{{ j.job_id }}" />
    <div class="fallback">
      <input name="file" type="file" multiple />
    </div>
</form>

    <div id="log_txt" class='log'>{{ log | safe }}</div>

<p>
  <button id="go" onclick="go()" class="btn btn-success">Run!</button>
</p>

<p>The raw output files for each step of the pipeline can be found  <a href="https://rna-tools.online/media/jobs/{{ j.job_id }}/">here</a> and downloaded as a ZIP file <a href="{% url 'download_project_dir' job_id=j.job_id %}">here</a>.</p>

<small class="hint">

  <p>
    <h5>Documentation</h5>
  </p>
     <p>

As only a limited number of chains and atoms can be deposited in the PDB format, the mmCIF format has been introduced to provide an alternative way to save structures. As the predicted RNA structures are normally within the capability of the PDB format, this format is still used in the RNA-Puzzles community. Moreover, many tools available in the field of RNA 3D bioinformatics still are using the PDB format and likely will not be updated for the mmCIF format. Thus, we decided to provide a web application to convert mmCIF format to PDB format (“Convert CIF files to PDB”) and reverse (“Convert PDB files to CIF”). These two tools are based on the open-source version of PyMOL.

    <small class="hint"></small>

{% endblock %}

