{% extends "base.html" %}
{% block content %}
<h2>Tools</h2>


        <head>
          <!-- Place your kit's code here -->
	  <script src="https://kit.fontawesome.com/b777a4376a.js" crossorigin="anonymous"></script>
        </head>

<h4>Sequence search</h4>
<p>
If you want to model an RNA sequence, search for potential templates in <a href="https://www.rcsb.org/search/advanced">PDB</a> (a database of experimental structures) and/or <a href="https://rfam.xfam.org/search#tabview=tab1">RFAM</a> (a database of RNA familes). [External]
</p>
<!--
<p>
  The <b>Protein Data Bank (PDB)</b> is a database for the three-dimensional structural data of large biological molecules, such as proteins and nucleic acids. The data, typically obtained by X-ray crystallography, NMR spectroscopy, or, increasingly, cryo-electron microscopy, and submitted by biologists and biochemists from around the world, are freely accessible.
  <a href="https://en.wikipedia.org/wiki/Protein_Data_Bank">more</a>
</p>
<p>
  The <b>Rfam database</b> is a collection of RNA families, each represented by multiple sequence alignments, consensus secondary structures and covariance models  <a href="https://docs.rfam.org/en/latest/about-rfam.html">more</a>
</p>


<span style="color:gray">Web wrappers to this tools are in progress. You can find more on wrappers that you can run in your terminal <a href="https://rna-tools.readthedocs.io/en/latest/tools.html#search">here</a>.</span>
-->

<h4>RNA secondary structure tools</h4>
<p>
  To preform RNA secondary structure prediction, we recommend to use (one of many servers) <a href="http://rna.tbi.univie.ac.at/cgi-bin/RNAWebSuite/RNAfold.cgi">RNAfold</a>. [External]
</p>
<!--
<p>
  <a href="/tools/secondary-structure/"><b>Secondary structure prediction</b></a>
RNA secondary structure prediction are implemented, including RNAsubopt, RNAeval, RNAfold from ViennaRNA, CentroidFold, ContextFold, MC-Fold and IPknot. <span class="label">rna-tools -> online - in progress</span>
</p>
-->

<h3><i class="fa-solid fa-arrows-rotate"></i> RNA 3D structure conversion from CIF to PDB</h3>
<i class="fa-solid fa-arrows-rotate"></i> <a href="/tools/tocif/"><b>Convert CIF files to PDB</b></a><br>
<i class="fa-solid fa-arrows-rotate"></i> <a href="/tools/topdb/"><b>Convert PDB files to CIF</b></a><br>

<h3><i class="fa-brands fa-sistrix"></i> RNA 3D structure analysis</h3>
<p>The group of tools aims to facilitate analysis of RNA 3D structure.</p>
<i class="fa-solid fa-angle-right"></i> <a href="/tools/seq/"><b>Get sequences</b></a> get sequences of a bunch of PDB files<br>
<i class="fa-solid fa-bars-staggered"></i> <a href="/tools/ss/"><b>Get secondary structures</b></a> get secondary structures of a bunch of PDB files</br>
<i class="fa-brands fa-sistrix"></i> <a href="/tools/analysis/"><b>Analysis with X3DNA</b></a> get statistics and details on PDB files<br>
<i class="fa-brands fa-sistrix"></i> <a href="/tools/clarna/"><b>Analysis with ClaRNA</b></a> get interactions detected for PDB files<br>
														      
<h3><i class="fa-solid fa-circle-check"></i> RNA 3D structure standardization</h3>
<p>
  <i class="fa-solid fa-circle-check"></i> <a href="/tools/rpr/"><b>Standardize PDB files (get-rnapuzzle-ready, "_rpr.pdb")</b></a> get a standardized naming of atoms, residues, chains to be compatible with the format proposed by the RNA-Puzzles community [report and add missing atoms], removes water and ions, keeps only canonical RNA atoms</b> <br>
</p>

<i class="fa-regular fa-circle-check"></i> <a href="/tools/mdr/"><b>Standardize PDB files for Molecular Dynamics (get-molecular-dynamics-ready, "_mdr.pdb")</b></a> get a standardized naming of atoms, residues, chains to be compatible with the format used e.g., by openmm [report and add missing atoms], removes water and ions, keeps only canonical RNA atoms<br>

<h3><i class="fa-solid fa-pen-to-square"></i> RNA 3D structure editing</h3>
<p>The group of tools aims to facilitate operations on RNA 3D structure.</p>

<i class="fa-solid fa-down-left-and-up-right-to-center"></i> <a href="/tools/cat/"><b>Concatenate</b></a> merge a bunch of PDB files into one file<br>
<i class="fa-solid fa-up-right-from-square"></i> <a href="/tools/extract/"><b>Extract</b></a> extract parts of PDB files<br>
<i class="fa-solid fa-delete-left"></i> <a href="/tools/delete/"><b>Delete</b></a> delete parts of PDB files<br>
<i class="fa-solid fa-diagram-successor"></i> <a href="/tools/h2a/"><b>Replace</b></a> HETATM with ATOM in PDB files<br>
<i class="fa-solid fa-screwdriver"></i> <a href="/tools/edit/"><b>Edit</b></a> edit (not the same as mutate) of PDB files<br>
<i class="fa-solid fa-wrench"></i> <a href="/tools/mutate/"><b>Mutate</b></a> mutate residues in PDB files<br>
<i class="fa-solid fa-repeat"></i> <a href="/tools/swap/"><b>Swap chains</b></a> swap names of the chains in PDB files<br>
<i class="fa-solid fa-syringe"></i> <a href="/tools/rpl/"><b>Replace</b></a> replace XYZ coordinates of one PDB file with XYZ coordinates from another file</br>
<hr>

<h3><i class="fa-brands fa-black-tie"></i> RNA 3D structure minimization</h3>

Remove steric clashes, optimize bonds angles.</br>
Should be used to to molecules in reach of RNA 3D structure prediction, so of length of 150 bp.</br>

</br>
<i class="fa-solid fa-atom"></i> <a href="/tools/qrnas/"><b>Minimize with QRNAS</b></a> minimize PDB files to fix clashes based on QRNAS [this can take up to 1h]</a></span><br>
<i class="fa-solid fa-atom"></i> <a href="/tools/min/"><b>Minimize with OpenMM</b></a> minimize PDB files to fix clashes based on OpenMM [this can take up to 1h]

<!--
<a href="/tools/analysis/{{ ids.4 }}"><b>PDB to mmCIF</b></a><br>
-->

<h3><i class="fa-solid fa-code-compare"></i> RNA 3D structures comparison</h3>

<i class="fa-solid fa-code-compare"></i> <a href="/tools/diffpdb/"><b>diffpdb</b></a> it is a simple tool to compare two files of PDB format to identify the difference in the annotation of atoms, missing atoms, missing fragments<br>

<i class="fa-solid fa-circle-nodes"></i> <a href="/tools/calc-rmsd/"><b>Calculate Root Mean Square Deviation (RMSD)</b></a>
RMSD is the measure of the average distance between the atoms of superimposed RNAs (also proteins etc.). This is a simple, geometrical measure.<br>

<i class="fa-brands fa-connectdevelop"></i> <a href="/tools/calc-inf/"><b>Calculate Network Interaction Fidelity (INF)</b></a>
INF is the measure specific for RNA molecules. RNAs are represented by network of interactions, and the closes two networks of interactions of two molecules are similar, the higher INF.<br>

<h3><i class="fa-solid fa-award"></i> RNA 3D model quality assessment</h3>

<i class="fa-solid fa-award"></i> <a href="/tools/assess/"><b>Assess</b></a> tools to assess how good are the models obtained from modeling procedure.</span><br>

<h3><i class="fa-solid fa-arrow-up-right-from-square"></i> RNA 3D modeling [External servers]</h3>

<p><i>De novo</i> modeling (not based on fragments taken from the PDB database, usually better for modeling new folds, modeling structures without homologs with known structures)</p>

<!--
<a target="_new" href="https://genesilico.pl/SimRNAweb/submit"><h4><i class="fa-solid fa-arrow-up-right-from-square"></i> SimRNAweb</h4></a>
-->

<!--<a target="_new" href="http://genesilico.pl/NPDock/submit"><h4>RNA-protein complex modeling with NPDock</h4>-->
 <a target="_new" href="https://rosie.graylab.jhu.edu/stepwise/submit"><h4><i class="fa-solid fa-arrow-up-right-from-square"></i> Rosetta Stepwise Monte Carlo Protocol</h4></a>
  <p>Fragment-based modeling (fragments taken from the PDB database, usually better for modeling with close homologs with known structures)</p>
<a target="_new" href="https://rnacomposer.cs.put.poznan.pl"><h4><i class="fa-solid fa-arrow-up-right-from-square"></i> RNAComposer</h4></a> The RNAComposer system offers a new user-friendly approach to the fully automated prediction of large RNA 3D structures. The method is based on the machine translation principle and operates on the RNA FRABASE database acting as the dictionary relating RNA secondary structure and tertiary structure elements.

<hr>

<a href="mailto:m.magnus@imol.edu.pl">Send us feedback what kind of tools do you need in your modeling pipeline.</a>

{% endblock %}
