{% extends "base.html" %}
{% block content %}
<title>rna-tools.online</title>

<style>
 .hint {color:#808080;font-size:12px;}

.dz {
    border: dashed !important;
    background-color: white !important;
    border-radius: 10px !important;
}

.dz:hover {
    background-color: aliceblue !important;
}
</style>

<script src="{{ STATIC_URL }}app/jsmol/JSmol.min.js"></script>
<script>
 var jmolApplet0; // set up in HTML table, below
 // logic is set by indicating order of USE -- default is HTML5 for this test page, though
 var use = "HTML5" // JAVA HTML5 WEBGL IMAGE  are all otions

 jmol_isReady = function(applet) {
     Jmol._getElement(applet, "appletdiv").style.border="" //1px solid black
 }		

 script = 'h2oOn=true;set animframecallback "jmolscript:if (!selectionHalos) {select model=_modelNumber}";'
	 +'set errorCallback "myCallback";'
	 +'set defaultloadscript "isDssp = false;set defaultVDW babel;if(!h2oOn){display !water}";'
	 +'set zoomlarge true;set echo top left;refresh;'
	 +'load {{ MEDIA_URL }}jobs/{{ j.job_id }}/{{ j.job_id }}.pdb;set echo top center;'
	 +'spacefill off;spin off;wireframe off;cartoons on;color group;'

 var Info = {
     spinRateX: 0.2,
     spinRateY: 0.5,
     spinFPS: 20,
     spin:true,

     width: 400,
     height: 400,
     debug: false,
     color: "white",
     addSelectionOptions: false,
     serverURL: "http://chemapps.stolaf.edu/jmol/jsmol/php/jsmol.php",
     use: "HTML5",
     j2sPath: "{{ STATIC_URL }}app/jsmol/j2s",
     reagdyFunction: jmol_isReady,
     script: script,
     disableJ2SLoadMonitor: true,
     disableInitialConsole: true
 }
</script>

<script>

    var progress_interval;

    $(document).ready( function(){
        progress_interval = setInterval(checkProgress, 100);
    });

    function checkProgress() {
        $.ajax({
            url: "{% url 'ajax_job_status' job_id=j.job_id %}",
            success: function(d) {
                $("#log_txt").html(d['log']);
                if (d['reload']==true){
                    window.location.reload()
                }
            }
    })
    };

   function demo(){
        $.ajax({
            url: "/demo/{{ tool }}/{{ j.job_id }}",
	})
    };

  function rm(){
        $.ajax({
            url: "/run/clear/{{ j.job_id }}",
	})
    };


    function extract() {

        $.ajax({
            url: "/run/ss/{{ j.job_id }}",
	    data: { extract: $("#seq").val() }
	})
    };

</script>

<h2>Secondary structure prediction</h2>

<div align="right">
  <button onclick="demo()" class="btn btn-small btn-ok">Load demo</button>
  <button onclick="rm()" class="btn btn-small btn-ok">Remove All Files</button>
  <button onclick="javascript:location.reload();" class="btn btn-small btn-ok">Reset</button>
  
</div>

<div class="form-group" style="width: 100%;">
    <label for="comment">RNA sequence</label>
    <textarea class="form-control" rows="!" style="width: 100%;font-family:Monospace;" id="extract" name="seq" placeholder="GCAAAAGC" value="GCAAAAGC"></textarea>
    <small class="hint">A:1-4 |  The secondary structure input can consist of several lines for encoding pseudo-knots.</small>
</div>

    <div id="log_txt" class='log'>{{ log | safe }}</div>

<p>
  <button onclick="ss()" class="btn btn-large btn-success">Predict</button>
</p>

    <small class="hint"></small>
<p>
    Try also:
    <ol>
      <li><a href="http://rna.urmc.rochester.edu/RNAstructureWeb/Servers/Fold/Fold.html">http://rna.urmc.rochester.edu/RNAstructureWeb/Servers/Fold/Fold.html</a></li>
      <li><a href="http://rna.tbi.univie.ac.at/cgi-bin/RNAWebSuite/RNAfold.cgi">http://rna.tbi.univie.ac.at/cgi-bin/RNAWebSuite/RNAfold.cgi</a></li>
    </ol>      
</p> 
{% endblock %}
