{% extends "base.html" %}
{% block content %}
<title>rna-tools.online</title>

<style>
 .hint {color:#808080;font-size:12px;}

body {
    background-color: #f8f8f8 !important;
}

.dz {
    border: dashed !important;
    background-color: white !important;
    border-radius: 10px !important;
}

.dz:hover {
    background-color: aliceblue !important;
}

</style>


<!--     acceptedFiles:'.jpg', -->
<script type="text/javascript">

  Dropzone.autoDiscover=false;
const myDropzone= new Dropzone('#my-dropzone',{
    url:'upload/',
    maxFiles:5,
    maxFilesize:2,
})
  
 $(function() {
     $('#myTab a').click(function (e) {
	 e.preventDefault();
	 $(this).tab('show');
     })
     $().acknowledgeinput();

     $(document).ready(function() {
         $("#examples_dna" ).hide();
         $("#examples_rna" ).hide();

         $("#demo").val('false');
         $("#restraints_example" ).hide();
         // credits https://stackoverflow.com/questions/5371089/count-characters-in-textarea //
         });
     });

     $( "#submit" ).submit(function( event ) {
         var seq = $('form').find('textarea[name="seq"]').val()
         var patt = new RegExp('[^AGUCaguc\ ]+');
         var res = patt.test(seq)
         if (res){
	     alert('We model RNA: please use only A,G,U,C and space character for chain breaks.');    
	     event.preventDefault();
         }

         if (seq.length > 150){
	     alert('We model RNA of size below 150 nt.');    
	     event.preventDefault();
         }
         
         var ss = $('form').find('textarea[name="ss"]').val()
         if (seq.length > 1){
             if (seq.length != ss.length){
                 alert('Sequence and Secondary structure must be of the same size.');    
	         event.preventDefault();
             }
         }

         var n = $("#number_steps").val();
         if (n > 100 || n < 1){
	     alert('Number of steps must be between 1 and 100');    
	     event.preventDefault();
         }

         var capt = $( "#capt" ).val();
         if (capt == 'RNA'){ // ok //// hack for now!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
         }
         else {
	     alert('If you are not a robot, type RNA as an answer to `What do you want to model`? ');
	     event.preventDefault();
         }
         /* // for debuging stop triggering submit
            alert('OK')
	    event.preventDefault();
          */         
     });

     $( "#other" ).click(function() {
         $( "#target" ).submit();
     });
     $("#example_04").click(function() {
	 $("#job_title").val("HCV IRES (1kh6)");
	 $("#seq").val("GGCGGAACCGGUGAGUACACCGGAAUCCGAAAGGAUUUGGGCG UGCCCCCGCC");
	 $("#ss").val("");
     });

     $("#example_03").click(function() {
         $("#job_title").val("tRNA with SAXS");
         $("#seq").val("GCGGAUUUAgCUCAGuuGGGAGAGCgCCAGAcUgAAgAucUGGAGgUCcUGUGuuCGaUCCACAGAAUUCGCACCA");
         $("#ss").val("(((((((...(((........)))..(((...........)))......((((.......)))).)))))))....");
         $("#capt").val("RNA");
         $("#demo").val('restraints');
         $("#sax_fileupload" ).hide();
         $("#restraints_example" ).show();
         $("#number_steps").val("5");
         $("#left").text(76);             
     });
 }); 
</script>

<h2>Get RNA-Puzzle ready</h2>

<div class="alert alert-info">

    <h4 style="padding-bottom:1%">Load the examples: </h4>
    <div class="btn-group" style="padding-bottom:0px;">
        <button class="btn" id="example_03"  style="font-size:12px">tRNA testing case example with SAXS data - execution time ~3-5 min </button><a class="btn" target="_blank" href="/rnamasonry/jobs/tRNA_with_SAXS-9218b709"><i class="icon-eye-open"></i></a>
    </div>
</div>

<label for="comment">RNA structure (in the PDB format)</label>

<form enctype='multipart/form-data' action="upload/" method='POST' class="dropzone dz" id="my-dropzone" >
    {% csrf_token %}
    <div class="fallback">
      <input name="file" type="file" multiple />
    </div>
</form>

<small class="hint">The input file should contain RNA only. Modelling of RNA-protein complexes is not supported yet.</small>
</div>
{% if error %}
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Error!</strong> {{ error }}
</div>
{% endif %}

<p class="lead" style="font-size:15px; text-align: left;">
    <form id="submit" ACTION="/submit/" METHOD="Post" enctype="multipart/form-data" data-role="acknowledge-input">
        {% csrf_token %}

<!--
        <input class="input-large" type="text" name="email" date-type="email" placeholder="E-mail address" id="email" value=""><br />
        <small class="hint">E-mail address is optional</small>
	-->
</p>
<input type="hidden" id="demo" name="demo" value="false" />
<button type="submit" class="btn btn-large btn-success">Run!</button>

</p>
{%comment%}
 <p><b>What do you want to model? </b>
 </p>
 <input style="height:px" class="input-large" id="capt" type="text" name="capt" date-type="" placeholder="if you are not a robot type RNA" value=""><br />
{%endcomment%}



<input type="hidden" id="job_title" name="job_title" value="demo" />
<input type="hidden" id="ss" name="ss" value="demo" />
<input type="hidden" id="ss" name="demo" value="false" />

</form>

<!--
<label>Brochure File</label>
<input type="file" name="file" style="display:none;" id="pdffile" />
<div class="input-append">
<input type="text" name="subfile" id="subfile" class="input">
<a class="btn" click="$('#pdffile').click();">Browse</a>
</div>
<br/>-->


<!--
<div class="bootstrap-filestyle">
  <input type="text" disabled="" class="input-large"> <label class="btn" for="input1"><span>Choose file</span></label>
</div>-->
<!--
<span class="btn btn-file">Upload a file<input type="file" /></span>
-->
{% endblock %}
