configparser==4.0.2

numpy
biopython==1.74
#forgi
progressbar2

# some fix
sphinx
sphinxcontrib-autoprogram

pathlib
sphinx-rtd-theme
sphinxcontrib-napoleon
urllib3
#pymol
pandas
matplotlib
scipy
future
six
python-Levenshtein

termcolor

mysql-connector-python-rf
versioneer==0.18
