numpy
biopython
#forgi
progressbar2

sphinx
sphinxcontrib-autoprogram

sphinx-rtd-theme
sphinxcontrib-napoleon
urllib3
#pymol
pandas
matplotlib
scipy
#future
#six
python-Levenshtein
mysql-connector-python
termcolor
versioneer==0.18
icecream
